In [178]:
import camelot
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings("ignore")

In [179]:
rank_1 = camelot.read_pdf("1_IITM.pdf",pages='all')
rank_2 = camelot.read_pdf("2_IITD.pdf",pages='all')
rank_3 = camelot.read_pdf("3_IITB.pdf",pages='all')
rank_4 = camelot.read_pdf("4_IITK.pdf",pages='all')
rank_5 = camelot.read_pdf("5_IITKh.pdf",pages='all')

# Capital Expenditure

In [180]:
capex_1 = rank_1[7].df

capex_1.drop(index=0,axis=0,inplace=True)
capex_1.set_index(keys=0,drop=True,inplace=True)

capex_1.columns = ['2019-20','2018-19','2017-18']

records = [0,1,2,3]

for i in records:
    capex_1.iloc[i,0] = capex_1.iloc[i,0].split('(')[0]
    
for i in records:
    capex_1.iloc[i,1] = capex_1.iloc[i,1].split('(')[0]
    
for i in records:
    capex_1.iloc[i,2] = capex_1.iloc[i,2].split('(')[0]

int_columns = capex_1.columns

for col in int_columns:
    capex_1[col] = capex_1[col].astype('int')
    
print(capex_1)
print()
print(capex_1.dtypes)

                                                       2019-20     2018-19  \
0
Library ( Books, Journals and e-Resources only)      181223515   174628165
New Equipment and software for Laboratories         1865813663  2052783456
Engineering Workshops                                   519428     4157456
Other expenditure on creation of Capital Assets...   256594552    55256201

                                                       2017-18
0
Library ( Books, Journals and e-Resources only)      188456181
New Equipment and software for Laboratories         1838176237
Engineering Workshops                                  6288472
Other expenditure on creation of Capital Assets...   131891456

2019-20    int32
2018-19    int32
2017-18    int32
dtype: object

In [181]:
capex_2 = rank_2[7].df

capex_2.drop(index=[0,1,2],axis=0,inplace=True)

In [182]:
capex_2.set_index(keys=0,drop=True,inplace=True)

capex_2.columns = ['2019-20','2018-19','2017-18']

records = [0,1,2,3]

for i in records:
    capex_2.iloc[i,0] = capex_2.iloc[i,0].split('(')[0]
    
for i in records:
    capex_2.iloc[i,1] = capex_2.iloc[i,1].split('(')[0]
    
for i in records:
    capex_2.iloc[i,2] = capex_2.iloc[i,2].split('(')[0]

int_columns = capex_2.columns

for col in int_columns:
    capex_2[col] = capex_2[col].astype('int')
    
print(capex_2)
print()
print(capex_2.dtypes)

                                                       2019-20     2018-19  \
0
Library ( Books, Journals and e-Resources only)      170086147   160271963
New Equipment and software for Laboratories         1827027685  1793766462
Engineering Workshops                                  4058686     4302116
Other expenditure on creation of Capital Assets...   745381664   764538188

                                                       2017-18
0
Library ( Books, Journals and e-Resources only)      146125000
New Equipment and software for Laboratories         1424680000
Engineering Workshops                                  5399000
Other expenditure on creation of Capital Assets...   894827000

2019-20    int32
2018-19    int32
2017-18    int32
dtype: object

In [183]:
capex_3 = rank_3[6].df

capex_3.drop(index=[0,1,2],axis=0,inplace=True)

capex_3.set_index(keys=0,drop=True,inplace=True)

capex_3.columns = ['2019-20','2018-19','2017-18']

records = [0,1,2]

for i in records:
    capex_3.iloc[i,0] = capex_3.iloc[i,0].split(' (')[0]
    
for i in records:
    capex_3.iloc[i,1] = capex_3.iloc[i,1].split('(')[0]
    
for i in records:
    capex_3.iloc[i,2] = capex_3.iloc[i,2].split('(')[0]

int_columns = capex_3.columns

for col in int_columns:
    capex_3[col] = capex_3[col].astype('int')
    
print(capex_3)
print()
print(capex_3.dtypes)

                                                    2019-20     2018-19  \
0
Library ( Books, Journals and e-Resources only)   233311985   186529104
New Equipment and software for Laboratories      1358206293  1203696299
Engineering Workshops                               7800414    12162794

                                                   2017-18
0
Library ( Books, Journals and e-Resources only)  166714860
New Equipment and software for Laboratories       86137020
Engineering Workshops                             24228357

2019-20    int32
2018-19    int32
2017-18    int32
dtype: object

In [184]:
capex_4 = rank_4[5].df
capex_4.drop(index=[0,1,2],axis=0,inplace=True)

capex_4.set_index(keys=0,drop=True,inplace=True)

capex_4.columns = ['2019-20','2018-19','2017-18']

In [185]:
records = [0,1,2,3]

for i in records:
    capex_4.iloc[i,0] = capex_4.iloc[i,0].split(' (')[0]
    
for i in records:
    capex_4.iloc[i,1] = capex_4.iloc[i,1].split(' (')[0]
    
for i in records:
    capex_4.iloc[i,2] = capex_4.iloc[i,2].split(' (')[0]

In [186]:
int_columns = capex_4.columns

for col in int_columns:
    capex_4[col] = capex_4[col].astype('int')
    
print(capex_4)
print()
print(capex_4.dtypes)

                                                      2019-20    2018-19  \
0
Library ( Books, Journals and e-Resources only)     168000000  153000000
New Equipment and software for Laboratories         685769251  674586035
Engineering Workshops                                98500000   44400000
Other expenditure on creation of Capital Assets...   73400000   46700000

                                                      2017-18
0
Library ( Books, Journals and e-Resources only)     129600000
New Equipment and software for Laboratories         621194478
Engineering Workshops                                96400000
Other expenditure on creation of Capital Assets...   15000000

2019-20    int32
2018-19    int32
2017-18    int32
dtype: object

In [187]:
capex_5 = rank_5[8].df
capex_5.drop(index=[0,1,2],axis=0,inplace=True)

capex_5.set_index(keys=0,drop=True,inplace=True)

capex_5.columns = ['2019-20','2018-19','2017-18']

records = [0,1,2,3]

for i in records:
    capex_5.iloc[i,0] = capex_5.iloc[i,0].split(' (')[0]
    
for i in records:
    capex_5.iloc[i,1] = capex_5.iloc[i,1].split('(')[0]
    
for i in records:
    capex_5.iloc[i,2] = capex_5.iloc[i,2].split('(')[0]

int_columns = capex_5.columns

for col in int_columns:
    capex_5[col] = capex_5[col].astype('int')
    
print(capex_5)
print()
print(capex_5.dtypes)

                                                      2019-20    2018-19  \
0
Library ( Books, Journals and e-Resources only)     227325689  220397215
New Equipment and software for Laboratories         224238505  117316668
Engineering Workshops                                       0          0
Other expenditure on creation of Capital Assets...  275567881  589182201

                                                      2017-18
0
Library ( Books, Journals and e-Resources only)     175230715
New Equipment and software for Laboratories         284543926
Engineering Workshops                                       0
Other expenditure on creation of Capital Assets...  356546168

2019-20    int32
2018-19    int32
2017-18    int32
dtype: object

In [188]:
dfs = {'1_iitm' : capex_1,'2_iitd' : capex_2,'3_iitb' : capex_3,
      '4_iitk' : capex_4,'5_iitkh' : capex_5}

In [189]:
writer = pd.ExcelWriter('Capex.xlsx', engine='xlsxwriter')

for sheet_name in dfs.keys():
    
    dfs[sheet_name].to_excel(writer, sheet_name=sheet_name, index=True)
    
writer.save()

# OpEx

In [190]:
opex_1 = rank_1[8].df

opex_1.drop(index=[0,1,2],axis=0,inplace=True)
opex_1.set_index(keys=0,drop=True,inplace=True)

opex_1.columns = ['2019-20','2018-19','2017-18']

records = [0,1,2]

for i in records:
    opex_1.iloc[i,0] = opex_1.iloc[i,0].split(' (')[0]
    
for i in records:
    opex_1.iloc[i,1] = opex_1.iloc[i,1].split(' (')[0]
    
for i in records:
    opex_1.iloc[i,2] = opex_1.iloc[i,2].split(' (')[0]
    
int_columns = opex_1.columns

opex_1

,2019-20,2018-19,2017-18
0,,,
Salaries (Teaching and Non Teaching staff),5602172731,4757984997,4186317653
"Maintenance of Academic Infrastructure or consumables and\nother running expenditures(excluding maintenance of hostels\nand allied services,rent of the building, depreciation cost, etc)",3991835986,3281409271,2153212601
Seminars/Conferences/Workshops,171971644,274675976,276382767

In [191]:
for col in int_columns:
    opex_1[col] = opex_1[col].astype('int64')
    
print(opex_1)
print()
print(opex_1.dtypes)

                                                       2019-20     2018-19  \
0
Salaries (Teaching and Non Teaching staff)          5602172731  4757984997
Maintenance of Academic Infrastructure or consu...  3991835986  3281409271
Seminars/Conferences/Workshops                       171971644   274675976

                                                       2017-18
0
Salaries (Teaching and Non Teaching staff)          4186317653
Maintenance of Academic Infrastructure or consu...  2153212601
Seminars/Conferences/Workshops                       276382767

2019-20    int64
2018-19    int64
2017-18    int64
dtype: object

In [192]:
opex_2 = rank_2[8].df

opex_2.drop(index=[0,1,2],axis=0,inplace=True)
opex_2.set_index(keys=0,drop=True,inplace=True)

opex_2.columns = ['2019-20','2018-19','2017-18']

records = [0,1,2]

for i in records:
    opex_2.iloc[i,0] = opex_2.iloc[i,0].split(' (')[0]
    
for i in records:
    opex_2.iloc[i,1] = opex_2.iloc[i,1].split(' (')[0]
    
for i in records:
    opex_2.iloc[i,2] = opex_2.iloc[i,2].split(' (')[0]
    
int_columns = opex_2.columns

for col in int_columns:
    opex_2[col] = opex_2[col].astype('int64')
    
print(opex_2)
print()
print(opex_2.dtypes)

                                                       2019-20     2018-19  \
0
Salaries (Teaching and Non Teaching staff)          3428644542  3149997422
Maintenance of Academic Infrastructure or consu...  3200750453  3320391541
Seminars/Conferences/Workshops                        13001549    12181807

                                                       2017-18
0
Salaries (Teaching and Non Teaching staff)          2938334866
Maintenance of Academic Infrastructure or consu...  1138287592
Seminars/Conferences/Workshops                         7558331

2019-20    int64
2018-19    int64
2017-18    int64
dtype: object

In [193]:
opex_3 = rank_3[7].df
opex_3.drop(index=[0,1,2],axis=0,inplace=True)
opex_3.set_index(keys=0,drop=True,inplace=True)

opex_3.columns = ['2019-20','2018-19','2017-18']

records = [0,1,2]

for i in records:
    opex_3.iloc[i,0] = opex_3.iloc[i,0].split(' (')[0]
    
for i in records:
    opex_3.iloc[i,1] = opex_3.iloc[i,1].split(' (')[0]
    
for i in records:
    opex_3.iloc[i,2] = opex_3.iloc[i,2].split(' (')[0]
    
int_columns = opex_3.columns

for col in int_columns:
    opex_3[col] = opex_3[col].astype('int64')
    
print(opex_3)
print()
print(opex_3.dtypes)

                                                       2019-20     2018-19  \
0
Salaries (Teaching and Non Teaching staff)          2793949100  2411615557
Maintenance of Academic Infrastructure or consu...  1354334734  1236119545
Seminars/Conferences/Workshops                        31042409    25232526

                                                       2017-18
0
Salaries (Teaching and Non Teaching staff)          1851253274
Maintenance of Academic Infrastructure or consu...  1239777565
Seminars/Conferences/Workshops                        28408263

2019-20    int64
2018-19    int64
2017-18    int64
dtype: object

In [194]:
opex_4 = rank_4[6].df
opex_4.drop(index=[0,1,2],axis=0,inplace=True)
opex_4.set_index(keys=0,drop=True,inplace=True)

opex_4.columns = ['2019-20','2018-19','2017-18']

records = [0,1,2]

for i in records:
    opex_4.iloc[i,0] = opex_4.iloc[i,0].split(' (')[0]
    
for i in records:
    opex_4.iloc[i,1] = opex_4.iloc[i,1].split(' (')[0]
    
for i in records:
    opex_4.iloc[i,2] = opex_4.iloc[i,2].split(' (')[0]
    
int_columns = opex_4.columns

for col in int_columns:
    opex_4[col] = opex_4[col].astype('int64')
    
print(opex_4)
print()
print(opex_4.dtypes)

                                                       2019-20     2018-19  \
0
Salaries (Teaching and Non Teaching staff)          2682258598  2368800000
Maintenance of Academic Infrastructure or consu...  4205644095  3829008261
Seminars/Conferences/Workshops                        51900000    51100000

                                                       2017-18
0
Salaries (Teaching and Non Teaching staff)          2476200000
Maintenance of Academic Infrastructure or consu...  2735064076
Seminars/Conferences/Workshops                        61200000

2019-20    int64
2018-19    int64
2017-18    int64
dtype: object

In [195]:
opex_5 = rank_5[9].df
opex_5.drop(index=[0,1,2],axis=0,inplace=True)
opex_5.set_index(keys=0,drop=True,inplace=True)

opex_5.columns = ['2019-20','2018-19','2017-18']

records = [0,1,2]

for i in records:
    opex_5.iloc[i,0] = opex_5.iloc[i,0].split(' (')[0]
    
for i in records:
    opex_5.iloc[i,1] = opex_5.iloc[i,1].split(' (')[0]
    
for i in records:
    opex_5.iloc[i,2] = opex_5.iloc[i,2].split(' (')[0]
    
int_columns = opex_5.columns

for col in int_columns:
    opex_5[col] = opex_5[col].astype('int64')
    
print(opex_5)
print()
print(opex_5.dtypes)

                                                       2019-20     2018-19  \
0
Salaries (Teaching and Non Teaching staff)          2397988057  2483324100
Maintenance of Academic Infrastructure or consu...  3612167542  3118397838
Seminars/Conferences/Workshops                        30364822    45360958

                                                       2017-18
0
Salaries (Teaching and Non Teaching staff)          1570050808
Maintenance of Academic Infrastructure or consu...  1769209628
Seminars/Conferences/Workshops                        64792095

2019-20    int64
2018-19    int64
2017-18    int64
dtype: object

In [196]:
dfs = {'1_iitm' : opex_1,'2_iitd' : opex_2,'3_iitb' : opex_3,
      '4_iitk' : opex_4,'5_iitkh' : opex_5}

In [197]:
writer = pd.ExcelWriter('Opex.xlsx', engine='xlsxwriter')

for sheet_name in dfs.keys():
    
    dfs[sheet_name].to_excel(writer, sheet_name=sheet_name, index=True)
    
writer.save()